<h1 class="animated fadeIn">{{ desarrollo.title | uppercase }} <small>({{ desarrollo.dateTime | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

    <div class="col-md-4">

        <img [src]="desarrollo.img" class="img-fluid" [alt]="desarrollo.title">
        <br><br>
        <a [routerLink]="['/desarrollo']" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-8">
        <h3>{{ desarrollo.title }}</h3>
        <hr>
        <p>
            {{ desarrollo.description }}
        </p>
    </div>

</div>