<h1>Categoria <small>Desarrollo</small></h1>
<hr>


<div class="card-columns">

    <app-desarrollo-tarjeta [content]="foo" [index]="i" *ngFor="let foo of desarrollo; let i = index"></app-desarrollo-tarjeta>


</div>