<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="content.img" [alt]="content.title">
    <div class="card-body">
        <h4 class="card-title">{{ content.title }}</h4>
        <p class="card-text"> {{ content.description }} </p>
        <p class="card-text"><small class="text-muted">{{ content.dateTime }}</small></p>

        <button (click)="verFinanza()" type="button" class="btn btn-outline-primary btn-block">
      Ver Contenido...
    </button>


    </div>
</div>