<h1 class="animated fadeIn">{{ finanza.title | uppercase }} <small>({{ finanza.dateTime | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

    <div class="col-md-4">

        <img [src]="finanza.img" class="img-fluid" [alt]="finanza.title">
        <br><br>
        <a [routerLink]="['/finanza']" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-8">
        <h3>{{ finanza.title }}</h3>
        <hr>
        <p>
            {{ finanza.description }}
        </p>
    </div>

</div>