<h1>Categoria <small>Finanzas</small></h1>
<hr>


<div class="card-columns">

    <app-finanza-tarjeta [content]="foo" [index]="i" *ngFor="let foo of finanza; let i = index"></app-finanza-tarjeta>


</div>